.page {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.page__wrapper {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
}

.page__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 26px;
}